<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>butterfly01.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,412},{67,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,61}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly02.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,481},{67,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,61}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{67,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly04.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,550},{67,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,607},{67,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly06.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,619},{67,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{67,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly08.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,688},{67,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,745},{67,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly10.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,757},{67,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{67,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly12.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,826},{67,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,883},{67,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly14.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,895},{67,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{67,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly16.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,964},{67,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1021},{67,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly18.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1033},{67,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{67,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly21.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1102},{67,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1159},{67,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{67,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{67,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{67,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{67,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{65,65}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{67,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly29.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1171},{63,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{65,65}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1228},{63,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly32.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1238},{63,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1295},{63,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly34.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1305},{63,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1362},{63,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly36.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1372},{63,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1429},{63,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly38.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,278},{59,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{59,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly39.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1439},{61,65}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly40.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,345},{59,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{59,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly41.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{59,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly42.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,71},{59,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly43.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,140},{59,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly44.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,209},{59,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1496},{57,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{57,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly46.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1506},{55,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{55,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly47.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1563},{55,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{55,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1565},{55,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{55,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly49.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1620},{55,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{55,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1634},{53,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{53,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly51.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,1677},{53,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{53,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1703},{51,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{51,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly53.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1732},{51,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{51,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1772},{51,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{51,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly55.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1785},{51,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{51,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly56.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1838},{49,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{49,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1841},{47,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{47,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly58.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,1889},{47,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{47,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1910},{47,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{47,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly60.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,1938},{47,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{47,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1979},{45,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{45,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>butterfly62.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,1987},{45,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{45,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Butterfly.png</string>
            <key>size</key>
            <string>{132,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bacf298aa0f8231dfdbcaf0dda71a12:e440d0f4611fbd7e28cb9985af66558e:57c24ea3c96dc3a0f5c07e8cf76d5442$</string>
            <key>textureFileName</key>
            <string>Butterfly.png</string>
        </dict>
    </dict>
</plist>
